.f-search{
	.filter-section{
		 display: flex;
        overflow: hidden;
        margin: 1em 0;
        color: #fff;
        border: 1px solid #333;
        align-items: center;
    }

    .left {
        padding: 1em;
        background-color: #337ab7;
    }

    .right {
        padding: 1em;
        background-color: #5cb85c;
    }
	.number-of-page{
		margin: 20px;
		text-align: right;
	}
	.page-number{
		display: inline-block;
		span{
			padding: 10px;
			background: #cccccc;
			margin: 0 5px;
			&.selected{
				background: #58A827;
			}
		}
	}
}