.user-login {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0px 5px #58A827;
    margin: 150px 10px 0;

    .login-heading {
        background: #58A827;
        padding: 12px 20px 8px;
        margin: 0;
        border: 1px solid #58A827;
        border-radius: 20px 20px 0 0;
        color: #000000;
        span{
        	vertical-align: top;
        }

    }
}